<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ebuspass.ebuspassapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <application
        android:name="com.example.ebuspass.ebuspassapp.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="eBusPass"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="EbusPassApp"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginMain"
            android:label="eBusPass"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name=".PurchasePassActivity"

            android:label="Refill Pass"
            android:theme="@style/AppTheme.ActionBar" >
        </activity>
        <activity
            android:name=".PurchaseHistoryActivity"
            android:label="Purchase History"

            android:theme="@style/AppTheme.ActionBar" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="User Profile"
            android:theme="@style/AppTheme.ActionBar" >
        </activity>
        <activity
            android:name=".UserInfo"
            android:label="Your Info"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <service
            android:name=".NfcService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE" >
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>

        <receiver android:name=".helper.SyncPass">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </application>

</manifest>
